body {
    font-family: 'Noto Sans', Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #030303;
    line-height: 1.6;
}


/* Header responsivo e ajustado       */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 5vw;
    color: white;
    position: relative;
    background: url('assets/imgHeader.png') no-repeat center top;
    background-size: contain;
    height: auto;
    min-height: 50vh;
}

header img {
    display: none;
}

header h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 5vw;
    line-height: 1;
    margin: 1vw 0;
    max-width: 50%;
}

header p {
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 1.1vw;
    max-width: 60%;
    margin-bottom: 2vw;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

header button {
    background-color: white;
    color: #23272A;
    border: none;
    padding: 1.4vw 3vw;
    border-radius: 30px;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header button:hover {
    background-color: #e0e0e0;
}

header button:last-child {
    background-color: #23272A;
    color: white;
}

header button:last-child:hover {
    background-color: #36393f;
}


/* Estilos para as Seções (Main Content) */
main section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 5vw;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

main section img {
    flex: 1 1 300px;
    max-width: 50%;
    height: auto;
}

main section div {
    flex: 1 1 300px;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

main section h2 {
    font-size: 2.4vw;
    font-weight: 800;
    line-height: 1.2;
    /* responsivo */
    margin: 0 0 1vw 0;
    color: #23272A;
}

main section p {
    font-size: 1.1vw;
    /* responsivo */
    line-height: 1.4;
    margin: 0;
}


main section.reverse {
    flex-direction: row-reverse;
}


main section.column {
    flex-direction: column;
    text-align: left;
}


main section.column h2 {
    font-family: "Luckiest Guy", cursive;
    font-size: 2.4vw;
    font-weight: 400;
    text-align: center;
}


main section.column p {
    font-size: 1.1vw;
    line-height: 1.4;
    text-align: center;
}


main section.column img {
    margin-top: 2vw;
    flex: 1 1 300px;
    max-width: 70%;
    height: auto;
}


main section.column div {
    flex: 1 1 20px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}


/* Intercalar cores nas seções */
main section:nth-child(odd) {
    background-color: #ffffff;
}

main section:nth-child(even) {
    background-color: #F6F6F6;
}


/* --------- Footer ------------ */
footer {
    background-color: #23272A;
    padding: 3vw;
    text-align: center;
}

footer img {
    max-width: 100%;
    height: auto;
}


/* --------- RESPONSIVIDADE --------- */

/* Tablets - até 1024px */
@media (max-width: 1024px) {
    header {
        padding: 8vw 4vw;
        background-size: cover;
    }

    header h1 {
        font-size: 6vw;
        max-width: 80%;
    }

    header p {
        font-size: 2.5vw;
        max-width: 80%;
    }

    header button {
        font-size: 2vw;
        padding: 2vw 5vw;
    }

    main section {
        flex-direction: column;
        text-align: center;
        padding: 6vw 4vw;
    }

    main section img,
    main section div {
        max-width: 90%;
    }

    main section h2 {
        font-size: 4vw;
    }

    main section p {
        font-size: 2vw;
    }
}

/* Celulares - até 768px */
@media (max-width: 768px) {
    header {
        padding: 10vw 5vw;
        background-size: cover;
        text-align: left;
    }

    header h1 {
        font-size: 5vw;
        max-width: 50%;

    }

    header p {
        font-size: 2.5vw;
        max-width: 65%;

    }

    header nav {
        flex-direction: column;
        gap: 4vw;
    }

    header button {
        width: 100%;
        font-size: 3.2vw;
        padding: 3vw;
    }

    main section {
        flex-direction: column;
        padding: 8vw 5vw;
        gap: 5vw;
    }

    main section h2 {
        font-size: 5.5vw;
        text-align: left;
    }

    main section p {
        font-size: 3.2vw;
        text-align: left;
    }

    main section img {
        max-width: 100%;
    }


    main section.column h2 {
        font-size: 5.4vw;
        text-align: left;
    }


    main section.column p {
        font-size: 2.1vw;
        text-align: left;
    }

}

/* Telas muito pequenas - até 480px */
@media (max-width: 480px) {
    header {
        padding: 12vw 3vw;
    }

    header h1 {

        font-size: 6vw;
        max-width: 50%;
        text-align: left;
    }

    header p {
        font-size: 2.5vw;
        max-width: 65%;
        text-align: left;
    }

    header button {
        width: 100%;
        font-size: 3.5vw;
        padding: 4vw;
    }

    main section h2 {
        font-size: 6vw;
    }

    main section p {
        font-size: 4vw;
    }

    main section img {
        height: auto;
    }
}